
/**
 * Mixins
 */
icon(i)
    content: i
    text-transform: none
    font-weight: normal
    font-style: normal
    font-variant: normal
    font-family: 'biz_icons'
    speak: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased

/**
 * Mixin - Font-weight
 */
font = 'Lato', sans-serif
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700
/**
 * Mixin - Viewport
 */
viewport = 1248px
gap = 32px
/**
 * Mixin - Responsive
 */
screen-sm = 569px
screen-md = 769px
screen-lg = 993px
screen-sm-max = (screen-sm - 1)
screen-md-max = (screen-md - 1)
screen-lg-max = (screen-lg - 1)

minw(w)
    return unquote('(min-width:' + w + ')')

maxw(w)
    return unquote('(max-width:' + w + ')')

media-min-sm = minw(screen-sm)
media-min-md = minw(screen-md)
media-min-lg = minw(screen-lg)
media-max-sm = maxw(screen-sm-max)
media-max-md = maxw(screen-md-max)
media-max-lg = maxw(screen-lg-max)

container()
    margin-right: auto
    margin-left: auto
    max-width: 'calc(100% - %s)' % gap
    width: viewport

shadowBorder()
    @media media-min-lg
        box-shadow: 800px 0 0 @background, -800px 0 0 @background

    @media media-max-lg
        box-shadow: 280px 0 0 @background, -280px 0 0 @background

title()
    color: var(--primary)
    text-transform: uppercase
    font-weight: bold
    font-size: 22px

    @media media-min-lg
        font-size: 48px

titleGeral()
    color: var(--primary)
    text-transform: uppercase
    font-weight: bold
    font-size: 20px
    line-height: 1

    @media media-min-lg
        font-size: 40px

subtitle()
    color: var(--color-link)
    font-weight: regular
    font-size: 12px

    @media media-min-lg
        font-size: 24px

subtitleForm()
    color: var(--color-link)
    font-size: 11px

    @media media-min-lg
        font-size: 18px

titleForm()
    color: var(--color-form-title)
    font-size: 14px

    @media media-min-lg
        font-size: 32px

name()
    color: var(--primary)
    font-weight: bold
    font-size: 12px

    @media media-min-lg
        font-size: 24px

text()
    color: var(--color-link)
    font-weight: regular
    font-size: 12px

    @media media-min-lg
        font-size: 14px

link()
    display: inline-block
    padding: 8px 16px
    border: solid 1px var(--primary)
    background: var(--color-white)
    color: var(--primary)
    text-transform: uppercase
    font-weight: regular
    font-size: 12px

    @media media-min-lg
        font-size: 16px

        &:hover
            background: var(--primary)
            color: var(--primary-contrast)

button()
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 0 (gap / 2)
    min-width: 190px
    height: 48px
    border-radius: 0
    background: var(--primary)
    color: var(--primary-contrast)
    text-transform: uppercase
    font-size: 19px
