<section class="solution">
    <header class="solution__header">
        <h3 class="solution__title">
            A solução ideal para seu negócio.
        </h3>
        <p class="solution__subtitle">Aumente suas vendas e tenha mais conforto, personalização, confiança e mobilidade no seu dia a dia.</p>
    </header>
    <div class="solution__main">
        <div class="solution__case solution__case--maquina">
            <figure class="solution__figure">
                <img class="solution__img" src="@img(solution-maquina)" alt="Fácil de Usar">
                <img class="solution__img solution__img--hover" src="@img(solution-maquina-hover)" alt="Fácil de Usar">
            </figure>
            <h4 class="solution__name">Fácil de Usar</h4>
            <p class="solution__text">Equipamentos e APPs intuitivos para qualquer pessoa e idade. Tudo ao alcance do seu dedo.</p>
        </div>

        <div class="solution__case solution__case--seguro">
            <figure class="solution__figure">
                <img class="solution__img" src="@img(solution-seguro)" alt="Seguro">
                <img class="solution__img solution__img--hover" src="@img(solution-seguro-hover)" alt="Seguro">
            </figure>
            <h4 class="solution__name">Seguro</h4>
            <p class="solution__text">Temos todas as credenciais de segurança. Muita tranquilidade para você e seu negócio.</p>
        </div>

        <div class="solution__case solution__case--user">
            <figure class="solution__figure">
                <img class="solution__img" src="@img(solution-user)" alt="É a sua cara">
                <img class="solution__img solution__img--hover" src="@img(solution-user-hover)" alt="É a sua cara">
            </figure>
            <h4 class="solution__name">É a sua cara</h4>
            <p class="solution__text">Serviços e interface totalmente personalizáveis para as necessidades do seu negócio e marca.</p>
        </div>

        <div class="solution__case solution__case--light">
            <figure class="solution__figure">
                <img class="solution__img" src="@img(solution-light)" alt="Todas soluções">
                <img class="solution__img solution__img--hover" src="@img(solution-light-hover)" alt="Todas soluções">
            </figure>
            <h4 class="solution__name">Todas soluções</h4>
            <p class="solution__text">Temos diversas soluções totalmente integráveis ao seu negócio. Não encontrou? Criamos para você.</p>
        </div>
    </div>
</section>