<section class="pagcom">
    <div class="pagcom__grids">
        <div class="pagcom__banner pagcom__banner--bank">
            <div class="pagcom__container">
                <h3 class="pagcom__title">PAGCOM BANK</h3>
                <div class="pagcom__text">
                    A CONTA DIGITAL COMPLETA PARA VOCÊ
                </div>
                <ul class="pagcom__list">
                    <li>- Antecipe suas vendas</li>
                    <li>- Realize e receba pagamentos</li>
                    <li>- Controle total na palma de sua mão</li>
                </ul>
                <div class="pagcom__actions">
                    <a class="pagcom__link" href="/page-pagcom-bank">Clique e confira >></a>
                </div>
                <div class="pagcom__img">
                    <img src="@img(pagcom-bank)" alt="PAGCOM BANK">
                </div>
            </div>
        </div>
        <div class="pagcom__banner pagcom__banner--cambio">
            <div class="pagcom__container">
                <h3 class="pagcom__title">PAGCOM CÂMBIO</h3>
                <div class="pagcom__text">
                    A PAGCOM oferece os melhores produtos e soluções para que voê possa realizar com segurança e comodidade viagens de negócio ou lazer, operações financeiras e comerciais no exterior.
                </div>
                <div class="pagcom__actions">
                    <a class="pagcom__link" href="/contratar-cambio">Fazer uma cotação >></a>
                </div>
                <div class="pagcom__img">
                    <img src="@img(pagcom-cambio)" alt="PAGCOM CÂMBIO">
                </div>
            </div>
        </div>
        <div class="pagcom__banner pagcom__banner--ecommerce">
            <div class="pagcom__container">
                <h3 class="pagcom__title">PAGCOM E-COMMERCE</h3>
                <div class="pagcom__text">
                    Conheça nossas soluções para que sua empresa se faça presente no mundo digital. A Pagcom e-commerce oferece a melhor plataforma de e-commerce
                </div>
                <div class="pagcom__actions">
                    <a class="pagcom__link" href="/pagcom-digital">Contratar agora >></a>
                </div>
                <div class="pagcom__img">
                    <img src="@img(pagcom-ecommerce)" alt="PAGCOM E-COMMERCE">
                </div>
            </div>
        </div>
        <div class="pagcom__banner pagcom__banner--paguinho">
            <div class="pagcom__container">
                <h3 class="pagcom__title">PAGUINHO</h3>
                <div class="pagcom__text">
                    Construa gerencie e evolua o seu processo de venda e cobrança com o <span>PAGUINHO</span>, o robozinho inteligente da <span>PAGCOM</span>.
                </div>
                <div class="pagcom__actions">
                    <a class="pagcom__link" href="http://www.paguinho.com.br" target="_blank">Entenda como funciona >></a>
                </div>
                <div class="pagcom__img">
                    <img src="@img(pagcom-paguinho)" alt="PAGCOM E-COMMERCE">
                </div>
            </div>
        </div>
    </div>
</section>