<section class="traditional">
    <div class="traditional__container">
        <header class="traditional__header">
            <h3 class="traditional__title">Pagcom tradicional</h3>
        </header>
        <div class="traditional__main">
            <div class="traditional__content">
                Aceite Crédito e Débito e aumente suas vendas! Trabalhamos com taxas flexíveis que cabem no seu bolso. O POS da PagCom é prático e você leva para qualquer lugar.
            </div>
            <div class="traditional__img">
                <img src="@img(maq-tradicional)" alt="PAGCOM TRADICIONAL">
            </div>
        </div>
        <div class="traditional__footer">
            <a href="/maquina-pax-s920">Contratar agora >></a>
        </div>
    </div>
</section>