<div class="integrated">
    <div class="integrated__header">
        <h3 class="integrated__title">Soluções integradas</h3>
        <div class="integrated__subtitle">
            É uma solução All in One totalmente customizada ao seu negócio. Conheça o PAGCOM MOVEL, o PAGCOM FIXO, PAGCOM INTERNET e a nossa solução de TEF.
        </div>
    </div>
    <div class="integrated__main">
        <div class="integrated__case integrated__case--movel">
            <a href="/a920-pax-android" rel="nofollow" title="Produtos"></a>
            <h4 class="integrated__name">Móvel</h4>
            <p class="integrated__text">É a solução <strong>ALL IN ONE</strong> da Pagcom, totalmente customizável.</p>
            <div class="integrated__img">
                <img src="@img(movel)" alt="Móvel" />
            </div>
        </div>
        <div class="integrated__case integrated__case--movel">
            <a href="/tef" rel="nofollow" title="Produtos"></a>
            <h4 class="integrated__name">TEF</h4>
            <p class="integrated__text">Fácil integração com o seu sistema de automação.</p>
            <div class="integrated__img">
                <img src="@img(tef)" alt="TEF" />
            </div>
        </div>
        <div class="integrated__case integrated__case--movel">
            <a href="/internet" rel="nofollow" title="Produtos"></a>
            <h4 class="integrated__name">Internet</h4>
            <p class="integrated__text">Pra quem quer vender muito pela internet.</p>
            <div class="integrated__img">
                <img src="@img(internet)" alt="Internet" />
            </div>
        </div>
        <div class="integrated__case integrated__case--movel">
            <a href="/pagcom-fixo" rel="nofollow" title="Produtos"></a>
            <h4 class="integrated__name">Fixo</h4>
            <p class="integrated__text">É a solução <strong>ALL IN ONE</strong>, que vai acoplado ao computador com o sistema de frente de caixa.</p>
            <div class="integrated__img">
                <img src="@img(fixo)" alt="Fixo" />
            </div>
        </div>
    </div>
</div>