<section class="support">
    <div class="support__container">
        <header class="support__header">
            <h3 class="support__title">Suporte</h3>
        </header>
        <div class="support__main">
            <div class="support__case support__case--lock">
                <div class="support__img">
                    <img src="@img(lock)" alt="Segurança">
                </div>
                <div class="support__subtitle">Segurança</div>
                <div class="support__content">
                    <p>100% das transações monitoradas para garantir maior segurança.</p>
                    <p>Enquanto a transação passa pela PagCom, entra em ação o exclusivo sistema Seg-Pag, uma avançada ferramenta da PagCom que monitora 100% das transações para prevenir fraudes 24 horas por dia, nos sete dias da semana.</p>
                    <p>Em conformidade com todas as normas brasileiras de segurança. A rede PagCom funciona em conformidade com todas as normas brasileiras de segurança e está atenta às regras de certificação EMV, PCI DSS.</p>
                </div>
            </div>
            <div class="support__case support__case--money">
                <div class="support__img">
                    <img src="@img(money)" alt="Taxas">
                </div>
                <div class="support__subtitle">Taxas</div>
                <div class="support__content">
                    <p>Nossas taxas são negociadas de acordo com o perfil de cada cliente.</p>
                    <p>Isso garante que elas sejam flexíveis o suficiente para caber no seu orçamento.</p>
                </div>
            </div>
        </div>
    </div>
</section>