<div class="taxa">
    <div class="taxa__main">
        <div class="taxa__case taxa__case--debito">
            <h3 class="taxa__title">Débito</h3>
            <h4 class="taxa__big">1 dia</h4>
            <div class="taxa__text">Para receber</div>
            <div class="taxa__perc">
                <span>1,89%*</span>
                <small>à vista por 1 ano</small>
            </div>
            <div class="taxa__img">
                <img src="@img(taxa-debito)" alt="Débito" />
            </div>
        </div>
        <div class="taxa__case taxa__case--credito">
            <h3 class="taxa__title">Crédito</h3>
            <div class="taxa__text">Receber em</div>
            <div class="taxa__slides">
                <span class="taxa__slide taxa__slide--actived" data-dias="1">1 dia</span>
                <span class="taxa__slide" data-dias="30">30 dias</span>
            </div>
            <div class="taxa__percs">
                <div class="taxa__perc" data-perc="4.98">
                    <span>4,98%*</span>
                    <small>à vista</small>
                </div>
                <div class="taxa__perc" data-perce="1.99">
                    <span>1,99%*</span>
                    <small>parcelado</small>
                </div>
            </div>
            <div class="taxa__img">
                <img src="@img(taxa-credito)" alt="Crédito" />
            </div>
        </div>
        <div class="taxa__case taxa__case--voucher">
            <h3 class="taxa__title">Voucher</h3>
            <div class="taxa__text">Taxa e prazo de recebimento a ser negociado com a bandeira. <a href="#saibamais">Saiba mais</a></div>
            <div class="taxa__img">
                <img src="@img(taxa-voucher)" alt="Voucher" />
            </div>
        </div>
    </div>
    <div class="taxa__footer">
        <div class="taxa__obs">
            * Após 1 ano de 1.98%, a taxa será de 2.16%. <a href="#regulamento">Veja o regulamento</a>.
        </div>
    </div>
</div>