
.breadcrumb
    &__home
        .breadcrumb__link:before
            display: none

    &__link, &__last
        display: block
        color: var(--color-link)
        font-weight: regular
        font-size: 12px
        line-height: 1

        .catalog-category-view &
            font-size: 24px