.header
    display: flex
    justify-content: space-between

    &-container
        position: sticky
        top: 0
        padding: (gap / 2) 0
        background: white

        .scrolling &
            box-shadow: 0 1px 0 rgba(0, 0, 0, .1)