.logo
    .header &, .footer &
        img, svg
            height: 55px

        img
            object-fit: contain

    @media media-max-lg
        .footer &
            img
                margin: 0 auto