.solutions
    margin: 0 auto
    padding: (gap * 2) 0
    max-width: 100%
    width: 760px
    text-align: center

    &__title
        title()

        max-width: 100%
        width: 700px

    &__subtitle
        subtitle()

        margin-top: gap