.solution
    margin: gap 0

    &__title
        title()

    &__subtitle
        subtitle()

        margin-top: 20px

    &__header
        margin: 0 auto
        max-width: 100%
        width: 740px
        text-align: center

    &__main
        padding: gap 0

        @media media-min-lg
            display: flex
            justify-content: space-between

    &__figure
        position: relative
        margin: 0 auto
        padding: 40px
        width: 192px
        height: 192px
        border: solid 1px var(--color-link)
        border-radius: 50%
        background: var(--color-white)

        @media media-max-lg
            background: linear-gradient(to right, var(--primary), var(--primary-hover))

        &:after
            @media media-min-lg
                position: absolute
                top: 50%
                left: 100%
                display: block
                width: 100%
                border-top: 1px dashed var(--color-link)
                content: ''

        img
            width: 100%
            height: 100%
            object-fit: contain

    &__img
        @media media-min-lg
            &--hover
                display: none

        @media media-max-lg
            &:not(.solution__img--hover)
                display: none

    &__name
        name()

        padding: (gap / 2) 0

    &__text
        text()

    &__case
        flex: 0 1 270px
        padding: (gap / 2)
        text-align: center

        &:last-child
            .solution__figure:after
                display: none

        &:hover
            .solution
                &__figure
                    background: linear-gradient(to right, var(--primary), var(--primary-hover))

                &__img
                    &:not(.solution__img--hover)
                        display: none

                    &--hover
                        display: block