.cms-contato
    .main
        margin: 0 auto
        max-width: 100%
        width: 960px

    .forms .required
        opacity: 1

    .form-list
        .fields:last-child
            display: block

        .field
            label
                display: flex
                color: var(--primary)
                text-transform: uppercase
                font-weight: regular
                font-size: 16px

                em
                    order: 2
                    color: #f00

    .forms__description
        titleGeral()

        margin-bottom: gap
        text-align: center
        line-height: 1

    .forms__actions
        justify-content: flex-end

        .required
            margin-bottom: 0

        button
            button()

            margin-left: 10px