.customerregister-register-index
    .customer-account-login
        margin: (gap * 2) auto
        padding: (gap / 2)
        width: 700px
        border: solid 1px var(--primary)
        border-radius: 5px
        background: var(--color-white)

        @media media-min-lg
            padding: (gap * 2)

        form:after
            display: block
            clear: both
            content: ''

        label
            color: var(--primary)
            font-weight: bold
            font-size: 19px

            @media media-min-lg
                font-size: 25px

        input
            height: 48px

        button
            button()

            float: right
            margin-left: auto
            height: 30px